@charset "UTF-8";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.75;
  font-family: -apple-system, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "メイリオ", meiryo, sans-serif;
}

body {
  color: #333333;
  letter-spacing: -0.001em;
  -webkit-text-size-adjust: 100%;
}

body p {
  margin-bottom: 1.5em;
}

body img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

body a:hover {
  text-decoration: none;
}



body a img:hover {
  opacity: 0.7;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*要素のフォントサイズやマージン・パディングをリセットしています*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}



#sec01 ul.reserv {
  margin: 10px auto 0;
  width: 885px;
}

ol,
ul {
  list-style: none;
}

.alignleft {
  float: left;
}

a {
  text-decoration: none;
}

.pcon img {
  width: 100%;
  max-width: 428px;
}

.alignright {
  float: right;
}

.contact_top {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 0 190px 0;
}

#section-1 {
  margin-top: 100px;
  background-color: #406eb9;
  color: #fff;
}

.c-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.p-footer__inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-align-center {
  text-align: center;
}

span.ctwlpt-fs-225p {
  font-size: 2.22em;
  line-height: 1.5;
}

#ctwlpt-wrap h1,
#ctwlpt-wrap h2,
#ctwlpt-wrap h3 {
  margin: 40px 0 !important;
  padding: 0;
  font-size: 1em;
  line-height: 1.3;
  background: none;
  text-align: center;
}

span.ctwlpt-mincho-bold {
  font-family: initial !important;
  font-weight: 800 !important;
}

img.wp-image-93 {
  width: 930px;
}

.wp-block-image img {
  margin: 0 auto;
}

.sp_only {
  display: none;
}

.pc_only {
  display: block;
}

#ctwlpt-wrap .wp-block-image {
  width: 100%;
  text-align: center;
}

iframe {
  height: 490px;
  width: 868px;
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

  .soudan,
  .yoyaku {
    width: 49%;
    text-align: center;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {

  #sec01 ul.reserv,
  #sec08 ul.reserv,
  #sec10 ul.reserv,
  #sec14 ul.reserv {
    width: 90%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px) {
  .spon {
    display: block !important;
  }
}

@media screen and (max-width: 640px) {

  #sec01 ul.reserv,
  #sec08 ul.reserv,
  #sec10 ul.reserv,
  #sec14 ul.reserv {
    width: 100%;
    display: flex;
    margin: 20px auto 0;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 640px) {

  .soudan,
  .yoyaku {
    padding: 0 4px;
    max-width: 560px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 18px;
  }
}

@media screen and (max-width: 640px) {
  img {
    max-width: 100%;
    height: auto;
  }

  .alignleft {
    float: none;
  }

  .alignright {
    float: none;
  }

  .contact_top {
    padding: 0 0 18px 0;
  }

  #section-1 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .ctwlpt-fs-225p {
    font-size: 1.65em !important;
  }
}

@media screen and (max-width: 768px) {

  .ctwlpt-wrap br {
    display: block !important;
  }

  .sp_only {
    display: block;
  }

  .pc_only {
    display: none;
  }

  .video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9のアスペクト比 */
    height: 0;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 320px) {

  #ctwlpt-wrap h1,
  #ctwlpt-wrap h2,
  #ctwlpt-wrap h3 {
    font-size: 0.86em;
    line-height: 1.3;
    background: none;
  }
}